body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ffcc70, #ff6394);
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
}

.display {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 15px;
    font-size: 2em;
    text-align: right;
    border: none;
    background-color: #f3f3f3;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
    background-color: #f3f3f3;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ddd;
}

.zero {
    grid-column: span 2;
}
